@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

input, textarea {
  outline: 0 none;
}

#root {
  min-height: 100vh;
  height: 100%;
}